<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inbox for {{.Email}}</title>
</head>
<body>
    <h1>Inbox for {{.Email}}</h1>
    <h3>All email automatically deleted after {{ .Delay }} minutes.</h3>
    {{ if .Mail }}
        {{range .Mail }}
            <span>
                <a href="/inbox/{{.To}}/{{ .UUID }}/">{{ .From }}</a>
                - [{{ .Subject }}] - {{ .Timestamp }}
            </span>
            <br>
        {{end}}
    {{ else }}
        <p>[ mail will appear here automatically ]</p>
    {{ end }}

</body>
</html>